<div class="itemVeiculoPartial">
  <h3>Veículo:</h3>
  <label>Tipo:{{this.nome}}</label>
  <label>Modelo:{{this.modelo}}</label>
  <label>Placa:{{this.placa}}</label>
  <label>Fabricante:{{this.fabricante}}</label>


</div>